
#header {
    overflow: hidden;
    width: 1450px;
    height: 200px;
    background-color: lavenderblush;
}
body {
    overflow-x:hidden;
    color: #2A7C6F;
    background-color: #eeebf2;
}
nav {
    margin: 10px 10px 0px 10px;
}
nav ul {
    background-color: #fc3;
    margin: 10px 10px 0px 10px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}
nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}
nav ul li a:link,nav  ul li a:visited {
    color: blue;
    border-bottom: none;
    font-weight: bold;
}
nav ul li.selected {
    background-color: mistyrose;
}
.title {
    text-align: center;
}
.bloc_1 {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.bloc_1_text {
    background-image: url("../image/teacher.png");
    background-repeat: no-repeat;
    background-position:top left;
    color:#444444;
    border-color: green;
    border-width: medium;
    border-style: dashed;
    border-top-style: solid;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    background-color: #f8cf54;
    padding: 25px;
    padding-left: 205px;
    margin: 30px 100px 30px 120px;
}
.bloc_1_iframe {
    margin-left:100px;
    margin-top: 30px;

}
.blok_2 {
    display: flex;
    flex-direction: row-reverse;
}
.bloc_2_text {
    background-image: url("../image/children.png");
    background-repeat: no-repeat;
    background-position:bottom right;
    background-size: 40%;
    color:#444444;
    border-color: green;
    border-width: medium;
    border-style: dashed;
    border-top-style: solid;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    border-bottom-right-radius: 3em;
    border-bottom-left-radius: 3em;
    background-color: #f8cf54;
    padding: 25px;
    padding-right: 370px;
    margin: 30px 100px 50px 50px;
}
.bloc_2_iframe {
    margin-right:100px;
    margin-top: 30px;
}
.divede {
text-align: center
}
.footer1 {
    text-align: center;
}
.container {
    border: 5px solid #ffcc33;
}

.item_1, .item_2 {
    text-align: left;
    margin: 10px 600px 10px 80px;

}
.item_3, .item_4 {
    text-align: center;
    margin: 10px 100px 10px 600px;
}
.item_5, .item_6 {
    text-align: left;
    margin: 10px 600px 10px 80px;
}
.idea_morning {
    text-align: center;
    border: 5px solid #2A7C6F;
    margin: 30px;
}
.film_blok {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin: 30px;
}
.film_blok_text {
    margin: 100px;
}
.game_bl {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    margin: 30px;
}
.game_bl_text {
    margin: 0px 250px 100px 250px;
    padding: 0;
    border: 5px solid #2A7C6F;
}
.book1 {
    background-image: url("../image/book1.jpg");
    padding: 90px 140px 50px 50px;
    margin: 20px 400px ;
    text-align: center;
    background-repeat: no-repeat;
}
.book2 {
    background-image: url("../image/book2.jpg");
    text-align: left;
    background-repeat: no-repeat;
    background-position:top left;
    padding: 200px 10px 20px 5px;
}
.book3 {
    background-image: url("../image/book3.jpg");
    padding: 90px 140px 300px 50px;
    margin: 20px 400px ;
    text-align: center;
    color: #ffcc33;
}
.exercise1, .exercise2 {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    border: 5px #2A7C6F solid;
}
.parents {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
#cat {
    position: fixed;
    top: 200px;
    left: 0px;
    box-sizing: border-box;
    display: block
}